body {
    background: black url('images.jpeg') center center no-repeat;
    background-size: contain; /* ou `cover` si tu veux que l'image remplisse tout l'espace */
    margin: 0;
    min-height: 100vh;
    color: white;
}
h1 {
    color: white;
    text-align: justify;
}
p {
    font-family: verdana;
    font-size: 20px;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
tr:nth-child(even) {
    background-color: white;
}
div {
    background-color: transparent;
}