body {
    background: black;
    margin: 0;
    min-height: 100vh;
    color: white;
    position: relative;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('images.jpeg') center center no-repeat;
    background-size: contain;
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
}
h1 {
    color: white;
    text-align: justify;
}
p {
    font-family: verdana;
    font-size: 20px;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
tr:nth-child(even) {
    background-color: white;
}
div {
    background-color: transparent;
}
.bandeau {
    position: relative;
    z-index: 2;
}