<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <style>
        .bandeau {
            background-color: #222;
            color: #ff0101;
            padding: 20px;
            text-align: center;
            font-size: 2em;
            letter-spacing: 2px;
            font-family: Arial, sans-serif;
        }
        .image-full {
            display: block;
            width: 100vw;
            height: calc(100vh - 80px);
            object-fit: cover;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="bandeau">DIABLO</div>
    <img src="{{ url_for('static', filename='images.jpeg') }}" class="image-full">
    <!-- Contenu principal ici -->
</body>
</html>
