<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>login</title>
    <style>
        .bandeau {
            background-color: rgba(34, 34, 34, 0.98); /* quasi opaque */
            color: #ff0101;
            padding: 20px;
            text-align: center;
            font-size: 2em;
            letter-spacing: 2px;
            font-family: Arial, sans-serif;
            position: relative;
            z-index: 1;
        }
    </style>
</head>
<body>
    <div class="bandeau">DIABLO - CONNECTE</div>
</body>
</html>